*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

nav{
    font-family: 'Courier New', Courier, monospace;
 
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background-color: black;
    color: whitesmoke;

}
nav ul li{
    padding: 0px  12px;
}
.brand img{
    width: 47px;
    padding: 0px 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}


.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    display: flex;
    width: 70%;
    margin: 10px auto; /* for center the container */ 
    border-radius: 12px;
    padding: 14px;
    background: url('bg.jpg');
    background-size: cover;
}

.bottom{
    position: sticky;
    height: 70px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icons{
    margin-top: 14px;
    /* margin-left: 10px; */

}
.icons i {
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    border-radius: 24px;
    color: black;
    font-weight: 900;
    margin: 7px 0;
    justify-content: space-between;
    align-items: center;
}
.songItem:hover{
    color: whitesmoke;
    background-color: skyblue;
}
.songItem img { 
    height: 50px;
    border-radius: 50%;
    /* margin:  */

}
.songItem i {
    cursor: pointer;
}
.timeStamp i{
    margin-left: 23px;
    margin-right: 7px;
    
}
.timeStamp span  i:hover{
    color: darkgreen;
    

}
.songItemContainer{
    margin-top: 25px;
}
.songInfo{
    position: absolute;
    left: 10vw;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.songInfo span{
    margin-left: 10px;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

  